/* estilos de la pagina fondos */
/* se utiliza grid para encuadrar los contenedores de los colores */
.corral {
    display: grid;
    grid-template: repeat(3, 1fr), repeat(3, 1fr);
    grid-template-areas: 
    "uno . tres"
    ". cinco ."
    "siete . nueve";
    width: 400px;
    height: 400px;
}
/* div rojo */
#rojo {
    background-color: red;
    grid-area: uno;
}
/* div azul */
#azul {
    background-color: blue;
    grid-area: tres;
}
/* div verde */
#verde {
    background-color: green;
    grid-area: nueve;
}
/* div amarillo */
#amarillo {
    background-color: yellow;
    grid-area: siete;
}
/* div blanco */
#blanco {
    background-color: white;
    grid-area: cinco;
}

@media screen and (max-width: 768px) {
    .corral {
        width: 200px;
        height: 200px;
    }
}