/* fondo de pagina index */
body {
  background-image: url(../imagenes/fondos/fondo\ principal.jpg);
}
/* tag main */
.main-estilo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}
/* tag section */
.seccion-principal {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
/* tag H1 */
#foco {
  user-select: none;
  width: 100%;
  font-size: clamp(1rem, 3.54vw + 2.17rem, 5rem);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5vw;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.ver {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#uno {
  background-color: black;
}

#dos {
  background-color: white;
}

#tres {
  background-color: black;
}

.par {
  color: black;
}

.parraf {
  max-width: 40vw;
  max-height: 30vh;
  text-align: start;
  font-size: var(--fs-lg);
  padding: 2rem;
  overflow: hidden;
}

.img {
  width: 40%;
}
