/* Importamos las fuentes que vamos a usar roboto, monserrat y bebas neue */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* Reseteamos los parametros */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
/* Colocamos un fondo negro por si falla el body */
:root {
  background-color: black;
  --fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}
/* Usamos un display grid para el header, section y footer para evitar inconvenientes resposives */
body {
  display: grid;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: center;
  grid-template-rows: auto 1fr auto;
}
/* display flex para centrar el section */
.centrado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
/* display flex para centrar  */
.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
/* display flex para centrar el header */
.cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0;
}
/* display flex para centrar el nav */
.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  height: 50px;
  margin-top: 30px;
  overflow: hidden;
}
/* display flex para centrar ul */
.lista-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 200px;
  background-color: rgba(78, 78, 250, 0.468);
}
/* etiqueta li */
.lista-menu li {
  list-style: none;
  padding: 1rem;
}
/* Etiqueta a */
.lista-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1rem;
  font-size: var(--fs-md);
}
/* hover de etiqueta a */
.lista-menu li a:hover {
  color: rgb(123, 205, 112);
  background-color: rgba(0, 0, 0, 0.2);
}
/* clase titulos */
.titulo {
  font-size: 4rem;
  color: rgb(26, 106, 227);
  margin-top: 20px;
  text-decoration: underline;
  text-align: center;
}
/* clase parrafos */
.parrafo {
  color: coral;
  padding: 1em;
  text-align: justify;
}
/* footer user-select: none que evitar que el usuario selecciones el parrafo */
.footer {
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background-color: rgba(0, 89, 255, 0.404);
  backdrop-filter: blur(2px);
  color: rgb(255, 255, 255);
  width: 100vw;
  position: fixed;
  bottom: 0;
}
/* stylo botones generales */
.btn {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 1px rgb(251, 251, 251);
}
/* estilo hover de botones generales */
.btn:hover {
  background-color: transparent;
  color: white;
}

#ham {
  display: none;
}
